@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: Poppins;
  box-sizing: border-box;
}

.center {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 50px;
}